<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Журнал{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="/assets/style/forms.css">
        <link rel="stylesheet" href="/assets/style/style.css">
    {% endblock %}

    {% block javascripts %}
        <script src="/assets/js/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/js.js"></script>
    {% endblock %}
</head>
<body>
<div class="wrapper">

    {% include("/components/header.html.twig") %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include("/components/sidebar.html.twig") %}
    {% endif %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% include("/components/footer.html.twig") %}

</div>
</body>

</html>
