{% extends 'base.html.twig' %}

{% block body %}
    <div class="journal">
        <div class="journal__intro" id="main">
            <h2 class="journal__inner-title">Журнал</h2>
            <span class="journal__inner-subtitle">для классных руководителей</span>
        </div>
    </div>
{% endblock %}
